<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUCoins - Editar Empresa</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="icon" type="image/png" href="../public/imgs/coin.png">
</head>

<body>

  <%- include ('partials/nav.ejs'); %>

    <form method="POST" action="/editarEmpresa">

      <div class="container">

        <div class="col-sm-12">
          <div class="col-sm-12" style="align-self: center;">
            <div class="card">
              <h5 class="card-header">Adicionar Empresa</h5>

              <div class="form-group">
                <label for="nomeEmpresa" style="padding: 5px;">Nome da Empresa</label>
                <input name="nome" type="text" class="form-control" id="nomeEmpresa" aria-describedby="emailHelp"
                  value="<%= empresa.nome %>">
              </div>

              <div class="col-sm-12" style="text-align: center; padding-bottom: 10px;">
                <input type="hidden" name="id" value="<%= empresa.id %>">
                <button type="submit" class="btn btn-success">Atualizar</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>

</body>

</html>