<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUCoins - Editar Aluno</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleEditarAluno.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="icon" type="image/png" href="../public/imgs/coin.png">
</head>

<body>
  
  <%- include ('partials/nav.ejs'); %>

  <div class=container>
  <form>
    <div class="col-sm-12">
    <div class="col-sm-6" style="align-self: center;">
    <div class="card">
        <h5 class="card-header">Editar Aluno</h5>
        
        <div class="form-group">
        <label for="codigoAluno" style="padding: 5px;">Código</label>
        <input type="number" class="form-control" id="codigoAluno" placeholder="Novo código do aluno">
        </div>
        <div class="form-group">
            <label for="nomeAluno" style="padding: 5px;">Nome do aluno</label>
            <input type="text" class="form-control" id="nomeAluno" placeholder="Novo nome do aluno">
        </div>
        <div class="form-group">
        <label for="senhaAluno" style="padding: 5px;">Senha</label>
        <input type="password" class="form-control" id="senhaAluno" placeholder="Nova senha aluno">
        </div>
        
        <div class="col-sm-12" style="text-align: center; padding-bottom: 10px;">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
    </div>
    </div>
  </form>
</div>
</body>

</html>