<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUCoins - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleHome.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="icon" type="image/png" href="../public/imgs/coin.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
        <a href="/home">
            <img src="/imgs/coin.png" style="width: 50px;">
        </a>
          <a class="navbar-brand logo" href="/home">PUCoins</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav nav-list">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
    <div class="below">
        <div class="container">
            <a class="card-text" href="/alunos">
            <div class="card">
                <div class="card-top">
                    <h1 class="tittle">Alunos</h1>
                </div>
                </a>
            </div>

            <a class="card-text" href="/empresasParceiras">
            <div class="card2">
                <div class="card-top">
                    <h1 class="tittle">Empresas Parceiras</h1>
                </div>
                </a>
            </div>
    </div>
</body>
</html>