<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUCoins - Cadastro</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styleLogin.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="icon" type="image/png" href="../public/imgs/coin.png">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a href="/home">
        <img src="/imgs/coin.png" style="width: 50px;">
      </a>
      <a class="navbar-brand logo" href="/home">PUCoins</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      </div>
    </nav>
  </header>

  <div class="below">
    <div class="container">

      <form class=" login " method="POST" action="/salvarUser">

        <div class="container">

          <div class="col-sm-12">
            <div class="col-sm-12" style="align-self: center;">
              <div class="card">
                <div class="card-top">
                  <h3 class="tittle">INSCREVA-SE</h3>
                </div>

                <div class="form-group">
                  <label for="nome" style="padding: 5px;">Nome completo</label>
                  <input name="nome" type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label for="email" style="padding: 5px;">Email</label>
                  <input name="email" type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label for="senha" style="padding: 5px;">Senha</label>
                  <input name="senha" type="password" class="form-control">
                </div>

                <div class="col-sm-12" style="text-align: center; padding-bottom: 10px;">
                  <button type="submit" class="btn btn-login">Adicionar</button>
                </div>
              </div>
            </div>
          </div>
      </form>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
      integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous">
      </script>

</body>

</html>