<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUCoins - Moedas Extrato</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styleFormCadastro.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="icon" type="image/png" href="../public/imgs/coin.png">
</head>

<body>

  <%- include ('partials/nav.ejs'); %>
    
      <form>

        <div class="container">

          <div class="col-sm-12">
            <div class="col-sm-12" style="align-self: center;">
              <div class="card">
                <h5 class="card-header">Extrato</h5>
                <div class="row" style="padding: 10px;">
                    <div class="col-sm-12">
                      <table class="table table-striped table-light">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome do Aluno</th>
                            <th scope="col">Valor</th>
                          </tr>
                        </thead>
                        <tbody>
              
                          <tr>
                            <th scope="row">1.</th>
                            <td>Daniel Aquino</td>
                            <td>2,00</td>
                          </tr>
              
              
                        </tbody>
                      </table>
                    </div>
              </div>
              <div class="form-group">
                <a href="/moedas">
                    <button type="button" class="btn btn-danger" style="align-self: auto; background-color: red;">Voltar</button>
                    </a>
              </div>
            </div>
            
          </div>
      </form>
    </div>
</body>

</html>