<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
    <a href="/home">
        <img src="/imgs/coin.png" style="width: 50px;">
    </a>
      <a class="navbar-brand logo" href="/home">PUCoins</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav nav-list">
          <li class="nav-item active">
            <a class="nav-link" href="/empresasListar">Trocar Vantagens <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/moedas">Moedas <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/cadastrar">Cadastrar <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    </nav>
</header>