body{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif !important;
    background-image: url(../imgs/fullhd.png);
    background-size: cover;
}

.btn{
    background-color: #1A759F;
    border-color: white !important;
    border-width: 3px !important;
}

.btn:hover{
    background-color: #1A759F;
    border-color: white !important;
    border-width: 3px !important;
}

.container{
    margin-top: 80px;
    margin-left: 400px;
}
